@font-face {
  font-family: 'Suisse BP Intl';
  src: local('SuisseBPIntl-Medium'),
      url('fonts/SuisseBPIntl-Medium.woff2') format('woff2'),
      url('fonts/SuisseBPIntl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Tiempos Headline';
  src: local('Tiempos Headline Regular'), local('TiemposHeadline-Regular'),
      url('fonts/TiemposHeadline-Regular.woff2') format('woff2'),
      url('fonts/TiemposHeadline-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
      url('fonts/EBGaramond-Regular.woff2') format('woff2'),
      url('fonts/EBGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
