@import 'fonts';

// Reveal Overrides

.reveal h1 {
  font-family: 'Tiempos Headline', sans-serif;
}

.reveal .slide-background.present.text-focus {
  opacity: 0.2;
}

.slide-menu-toolbar li:first-child {
  display: none !important;
}

// Custom styles

.reveal p {
  font-family: 'EB Garamond', serif;
  white-space: pre-line;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px;
}
