// Reveal Overrides

.reveal h1 {
  font-family: 'Quicksand', sans-serif;
}

.reveal .slide-background.present.text-focus {
  opacity: 0.2;
}

// Custom styles

.reveal p {
  font-family: 'EB Garamond', serif;
  white-space: pre-line;
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px;
}
